// =========================================================
// Bases Styles
// =========================================================

*
{
	box-sizing: border-box;
}

html
{
}

body
{
}

h1, h2, h3, h4, h5, h6
{
}

figure
{
	max-width: 100%;
}

a
{
	transition: all ease .5s;
	
	&:hover
	{
		transition: all ease .5s;
	}
	
}