{
  "name": "savatjeme",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/application.scss",
      "imports": [
        "scss/_reset.scss",
        "scss/_foundation.scss",
        "scss/_config.scss",
        "scss/_helpers.scss",
        "scss/_utilities.scss",
        "scss/_base.scss",
        "scss/_main.scss",
        "scss/_theme.scss",
        "scss/components/_header.scss",
        "scss/components/_footer.scss",
        "scss/components/offcanvas/_offcanvas_minicart.scss",
        "scss/components/offcanvas/_offcanvas_right.scss",
        "scss/vendor/foundation/foundation.scss",
        "scss/components/globals/_globals.scss",
        "scss/components/top-bar/_header_top_bar.scss",
        "scss/components/headers/_header_default.scss",
        "scss/components/headers/_header_sticky.scss",
        "scss/components/headers/_header_style_1.scss",
        "scss/components/search/_search.scss",
        "scss/components/footers/_footer_style_1.scss",
        "scss/components/footers/_footer_style_2.scss",
        "scss/components/footers/_footer_style_3.scss",
        "scss/vendor/foundation/util/_util.scss",
        "scss/vendor/foundation/_global.scss",
        "scss/vendor/foundation/grid/_grid.scss",
        "scss/vendor/foundation/typography/_typography.scss",
        "scss/vendor/foundation/forms/_forms.scss",
        "scss/vendor/foundation/components/_visibility.scss",
        "scss/vendor/foundation/components/_float.scss",
        "scss/vendor/foundation/components/_button.scss",
        "scss/vendor/foundation/components/_button-group.scss",
        "scss/vendor/foundation/components/_accordion-menu.scss",
        "scss/vendor/foundation/components/_accordion.scss",
        "scss/vendor/foundation/components/_badge.scss",
        "scss/vendor/foundation/components/_breadcrumbs.scss",
        "scss/vendor/foundation/components/_callout.scss",
        "scss/vendor/foundation/components/_card.scss",
        "scss/vendor/foundation/components/_close-button.scss",
        "scss/vendor/foundation/components/_drilldown.scss",
        "scss/vendor/foundation/components/_dropdown-menu.scss",
        "scss/vendor/foundation/components/_dropdown.scss",
        "scss/vendor/foundation/components/_flex.scss",
        "scss/vendor/foundation/components/_responsive-embed.scss",
        "scss/vendor/foundation/components/_label.scss",
        "scss/vendor/foundation/components/_media-object.scss",
        "scss/vendor/foundation/components/_menu.scss",
        "scss/vendor/foundation/components/_menu-icon.scss",
        "scss/vendor/foundation/components/_off-canvas.scss",
        "scss/vendor/foundation/components/_orbit.scss",
        "scss/vendor/foundation/components/_pagination.scss",
        "scss/vendor/foundation/components/_progress-bar.scss",
        "scss/vendor/foundation/components/_reveal.scss",
        "scss/vendor/foundation/components/_slider.scss",
        "scss/vendor/foundation/components/_sticky.scss",
        "scss/vendor/foundation/components/_switch.scss",
        "scss/vendor/foundation/components/_table.scss",
        "scss/vendor/foundation/components/_tabs.scss",
        "scss/vendor/foundation/components/_title-bar.scss",
        "scss/vendor/foundation/components/_top-bar.scss",
        "scss/vendor/foundation/components/_thumbnail.scss",
        "scss/vendor/foundation/components/_tooltip.scss",
        "scss/components/headers/_menu.scss",
        "scss/vendor/foundation/util/_unit.scss",
        "scss/vendor/foundation/util/_value.scss",
        "scss/vendor/foundation/util/_color.scss",
        "scss/vendor/foundation/util/_selector.scss",
        "scss/vendor/foundation/util/_flex.scss",
        "scss/vendor/foundation/util/_breakpoint.scss",
        "scss/vendor/foundation/util/_mixins.scss",
        "scss/vendor/foundation/grid/_row.scss",
        "scss/vendor/foundation/grid/_column.scss",
        "scss/vendor/foundation/grid/_size.scss",
        "scss/vendor/foundation/grid/_position.scss",
        "scss/vendor/foundation/grid/_gutter.scss",
        "scss/vendor/foundation/grid/_classes.scss",
        "scss/vendor/foundation/grid/_layout.scss",
        "scss/vendor/foundation/grid/_flex-grid.scss",
        "scss/vendor/foundation/typography/_base.scss",
        "scss/vendor/foundation/typography/_helpers.scss",
        "scss/vendor/foundation/typography/_alignment.scss",
        "scss/vendor/foundation/typography/_print.scss",
        "scss/vendor/foundation/forms/_text.scss",
        "scss/vendor/foundation/forms/_checkbox.scss",
        "scss/vendor/foundation/forms/_label.scss",
        "scss/vendor/foundation/forms/_help-text.scss",
        "scss/vendor/foundation/forms/_input-group.scss",
        "scss/vendor/foundation/forms/_fieldset.scss",
        "scss/vendor/foundation/forms/_select.scss",
        "scss/vendor/foundation/forms/_range.scss",
        "scss/vendor/foundation/forms/_progress.scss",
        "scss/vendor/foundation/forms/_meter.scss",
        "scss/vendor/foundation/forms/_error.scss"
      ]
    },
    {
      "path": "scss/_foundation.scss",
      "imports": [
        "scss/vendor/foundation/foundation.scss",
        "scss/vendor/foundation/util/_util.scss",
        "scss/vendor/foundation/_global.scss",
        "scss/vendor/foundation/grid/_grid.scss",
        "scss/vendor/foundation/typography/_typography.scss",
        "scss/vendor/foundation/forms/_forms.scss",
        "scss/vendor/foundation/components/_visibility.scss",
        "scss/vendor/foundation/components/_float.scss",
        "scss/vendor/foundation/components/_button.scss",
        "scss/vendor/foundation/components/_button-group.scss",
        "scss/vendor/foundation/components/_accordion-menu.scss",
        "scss/vendor/foundation/components/_accordion.scss",
        "scss/vendor/foundation/components/_badge.scss",
        "scss/vendor/foundation/components/_breadcrumbs.scss",
        "scss/vendor/foundation/components/_callout.scss",
        "scss/vendor/foundation/components/_card.scss",
        "scss/vendor/foundation/components/_close-button.scss",
        "scss/vendor/foundation/components/_drilldown.scss",
        "scss/vendor/foundation/components/_dropdown-menu.scss",
        "scss/vendor/foundation/components/_dropdown.scss",
        "scss/vendor/foundation/components/_flex.scss",
        "scss/vendor/foundation/components/_responsive-embed.scss",
        "scss/vendor/foundation/components/_label.scss",
        "scss/vendor/foundation/components/_media-object.scss",
        "scss/vendor/foundation/components/_menu.scss",
        "scss/vendor/foundation/components/_menu-icon.scss",
        "scss/vendor/foundation/components/_off-canvas.scss",
        "scss/vendor/foundation/components/_orbit.scss",
        "scss/vendor/foundation/components/_pagination.scss",
        "scss/vendor/foundation/components/_progress-bar.scss",
        "scss/vendor/foundation/components/_reveal.scss",
        "scss/vendor/foundation/components/_slider.scss",
        "scss/vendor/foundation/components/_sticky.scss",
        "scss/vendor/foundation/components/_switch.scss",
        "scss/vendor/foundation/components/_table.scss",
        "scss/vendor/foundation/components/_tabs.scss",
        "scss/vendor/foundation/components/_title-bar.scss",
        "scss/vendor/foundation/components/_top-bar.scss",
        "scss/vendor/foundation/components/_thumbnail.scss",
        "scss/vendor/foundation/components/_tooltip.scss",
        "scss/vendor/foundation/util/_unit.scss",
        "scss/vendor/foundation/util/_value.scss",
        "scss/vendor/foundation/util/_color.scss",
        "scss/vendor/foundation/util/_selector.scss",
        "scss/vendor/foundation/util/_flex.scss",
        "scss/vendor/foundation/util/_breakpoint.scss",
        "scss/vendor/foundation/util/_mixins.scss",
        "scss/vendor/foundation/grid/_row.scss",
        "scss/vendor/foundation/grid/_column.scss",
        "scss/vendor/foundation/grid/_size.scss",
        "scss/vendor/foundation/grid/_position.scss",
        "scss/vendor/foundation/grid/_gutter.scss",
        "scss/vendor/foundation/grid/_classes.scss",
        "scss/vendor/foundation/grid/_layout.scss",
        "scss/vendor/foundation/grid/_flex-grid.scss",
        "scss/vendor/foundation/typography/_base.scss",
        "scss/vendor/foundation/typography/_helpers.scss",
        "scss/vendor/foundation/typography/_alignment.scss",
        "scss/vendor/foundation/typography/_print.scss",
        "scss/vendor/foundation/forms/_text.scss",
        "scss/vendor/foundation/forms/_checkbox.scss",
        "scss/vendor/foundation/forms/_label.scss",
        "scss/vendor/foundation/forms/_help-text.scss",
        "scss/vendor/foundation/forms/_input-group.scss",
        "scss/vendor/foundation/forms/_fieldset.scss",
        "scss/vendor/foundation/forms/_select.scss",
        "scss/vendor/foundation/forms/_range.scss",
        "scss/vendor/foundation/forms/_progress.scss",
        "scss/vendor/foundation/forms/_meter.scss",
        "scss/vendor/foundation/forms/_error.scss"
      ]
    },
    {
      "path": "scss/_theme.scss",
      "imports": [
        "scss/components/globals/_globals.scss"
      ]
    },
    {
      "path": "scss/components/_footer.scss",
      "imports": [
        "scss/components/footers/_footer_style_1.scss",
        "scss/components/footers/_footer_style_2.scss",
        "scss/components/footers/_footer_style_3.scss"
      ]
    },
    {
      "path": "scss/components/_header.scss",
      "imports": [
        "scss/components/top-bar/_header_top_bar.scss",
        "scss/components/headers/_header_default.scss",
        "scss/components/headers/_header_sticky.scss",
        "scss/components/headers/_header_style_1.scss",
        "scss/components/search/_search.scss",
        "scss/components/headers/_menu.scss"
      ]
    },
    {
      "path": "scss/components/headers/_header_style_1.scss",
      "imports": [
        "scss/components/headers/_menu.scss"
      ]
    },
    {
      "path": "scss/vendor/foundation/foundation.scss",
      "imports": [
        "scss/vendor/foundation/util/_util.scss",
        "scss/vendor/foundation/_global.scss",
        "scss/vendor/foundation/grid/_grid.scss",
        "scss/vendor/foundation/typography/_typography.scss",
        "scss/vendor/foundation/forms/_forms.scss",
        "scss/vendor/foundation/components/_visibility.scss",
        "scss/vendor/foundation/components/_float.scss",
        "scss/vendor/foundation/components/_button.scss",
        "scss/vendor/foundation/components/_button-group.scss",
        "scss/vendor/foundation/components/_accordion-menu.scss",
        "scss/vendor/foundation/components/_accordion.scss",
        "scss/vendor/foundation/components/_badge.scss",
        "scss/vendor/foundation/components/_breadcrumbs.scss",
        "scss/vendor/foundation/components/_callout.scss",
        "scss/vendor/foundation/components/_card.scss",
        "scss/vendor/foundation/components/_close-button.scss",
        "scss/vendor/foundation/components/_drilldown.scss",
        "scss/vendor/foundation/components/_dropdown-menu.scss",
        "scss/vendor/foundation/components/_dropdown.scss",
        "scss/vendor/foundation/components/_flex.scss",
        "scss/vendor/foundation/components/_responsive-embed.scss",
        "scss/vendor/foundation/components/_label.scss",
        "scss/vendor/foundation/components/_media-object.scss",
        "scss/vendor/foundation/components/_menu.scss",
        "scss/vendor/foundation/components/_menu-icon.scss",
        "scss/vendor/foundation/components/_off-canvas.scss",
        "scss/vendor/foundation/components/_orbit.scss",
        "scss/vendor/foundation/components/_pagination.scss",
        "scss/vendor/foundation/components/_progress-bar.scss",
        "scss/vendor/foundation/components/_reveal.scss",
        "scss/vendor/foundation/components/_slider.scss",
        "scss/vendor/foundation/components/_sticky.scss",
        "scss/vendor/foundation/components/_switch.scss",
        "scss/vendor/foundation/components/_table.scss",
        "scss/vendor/foundation/components/_tabs.scss",
        "scss/vendor/foundation/components/_title-bar.scss",
        "scss/vendor/foundation/components/_top-bar.scss",
        "scss/vendor/foundation/components/_thumbnail.scss",
        "scss/vendor/foundation/components/_tooltip.scss",
        "scss/vendor/foundation/util/_unit.scss",
        "scss/vendor/foundation/util/_value.scss",
        "scss/vendor/foundation/util/_color.scss",
        "scss/vendor/foundation/util/_selector.scss",
        "scss/vendor/foundation/util/_flex.scss",
        "scss/vendor/foundation/util/_breakpoint.scss",
        "scss/vendor/foundation/util/_mixins.scss",
        "scss/vendor/foundation/grid/_row.scss",
        "scss/vendor/foundation/grid/_column.scss",
        "scss/vendor/foundation/grid/_size.scss",
        "scss/vendor/foundation/grid/_position.scss",
        "scss/vendor/foundation/grid/_gutter.scss",
        "scss/vendor/foundation/grid/_classes.scss",
        "scss/vendor/foundation/grid/_layout.scss",
        "scss/vendor/foundation/grid/_flex-grid.scss",
        "scss/vendor/foundation/typography/_base.scss",
        "scss/vendor/foundation/typography/_helpers.scss",
        "scss/vendor/foundation/typography/_alignment.scss",
        "scss/vendor/foundation/typography/_print.scss",
        "scss/vendor/foundation/forms/_text.scss",
        "scss/vendor/foundation/forms/_checkbox.scss",
        "scss/vendor/foundation/forms/_label.scss",
        "scss/vendor/foundation/forms/_help-text.scss",
        "scss/vendor/foundation/forms/_input-group.scss",
        "scss/vendor/foundation/forms/_fieldset.scss",
        "scss/vendor/foundation/forms/_select.scss",
        "scss/vendor/foundation/forms/_range.scss",
        "scss/vendor/foundation/forms/_progress.scss",
        "scss/vendor/foundation/forms/_meter.scss",
        "scss/vendor/foundation/forms/_error.scss"
      ]
    },
    {
      "path": "includes/kirki/assets/scss/customizer.scss",
      "imports": [
        "includes/kirki/assets/scss/global.scss",
        "includes/kirki/assets/scss/panels/expanded.scss",
        "includes/kirki/assets/scss/sections/expanded.scss",
        "includes/kirki/assets/scss/sections/hover.scss",
        "includes/kirki/assets/scss/controls/checkbox.scss",
        "includes/kirki/assets/scss/controls/code.scss",
        "includes/kirki/assets/scss/controls/color.scss",
        "includes/kirki/assets/scss/controls/editor.scss",
        "includes/kirki/assets/scss/controls/multicolor.scss",
        "includes/kirki/assets/scss/controls/color-palette.scss",
        "includes/kirki/assets/scss/controls/date.scss",
        "includes/kirki/assets/scss/controls/dashicons.scss",
        "includes/kirki/assets/scss/controls/dimension.scss",
        "includes/kirki/assets/scss/controls/number.scss",
        "includes/kirki/assets/scss/controls/palette.scss",
        "includes/kirki/assets/scss/controls/radio.scss",
        "includes/kirki/assets/scss/controls/radio-buttonset.scss",
        "includes/kirki/assets/scss/controls/radio-image.scss",
        "includes/kirki/assets/scss/controls/repeater.scss",
        "includes/kirki/assets/scss/controls/select.scss",
        "includes/kirki/assets/scss/controls/slider.scss",
        "includes/kirki/assets/scss/controls/sortable.scss",
        "includes/kirki/assets/scss/controls/spacing.scss",
        "includes/kirki/assets/scss/controls/switch.scss",
        "includes/kirki/assets/scss/controls/generic.scss",
        "includes/kirki/assets/scss/controls/toggle.scss",
        "includes/kirki/assets/scss/controls/typography.scss",
        "includes/kirki/assets/scss/tooltips.scss"
      ]
    },
    {
      "path": "includes/metaboxes/css/sass/cmb2-front.scss",
      "imports": [
        "includes/metaboxes/css/sass/cmb2.scss",
        "includes/metaboxes/css/sass/partials/_front.scss",
        "includes/metaboxes/css/sass/partials/_variables.scss",
        "includes/metaboxes/css/sass/partials/_mixins.scss",
        "includes/metaboxes/css/sass/partials/_main_wrap.scss",
        "includes/metaboxes/css/sass/partials/_post_metaboxes.scss",
        "includes/metaboxes/css/sass/partials/_misc.scss",
        "includes/metaboxes/css/sass/partials/_sidebar_placements.scss",
        "includes/metaboxes/css/sass/partials/_collapsible_ui.scss",
        "includes/metaboxes/css/sass/partials/_jquery_ui.scss"
      ]
    },
    {
      "path": "includes/metaboxes/css/sass/cmb2.scss",
      "imports": [
        "includes/metaboxes/css/sass/partials/_variables.scss",
        "includes/metaboxes/css/sass/partials/_mixins.scss",
        "includes/metaboxes/css/sass/partials/_main_wrap.scss",
        "includes/metaboxes/css/sass/partials/_post_metaboxes.scss",
        "includes/metaboxes/css/sass/partials/_misc.scss",
        "includes/metaboxes/css/sass/partials/_sidebar_placements.scss",
        "includes/metaboxes/css/sass/partials/_collapsible_ui.scss",
        "includes/metaboxes/css/sass/partials/_jquery_ui.scss"
      ]
    },
    {
      "path": "scss/vendor/foundation/components/_flex-video.scss",
      "imports": [
        "scss/vendor/foundation/components/_responsive-embed.scss"
      ]
    },
    {
      "path": "scss/vendor/foundation/forms/_forms.scss",
      "imports": [
        "scss/vendor/foundation/forms/_text.scss",
        "scss/vendor/foundation/forms/_checkbox.scss",
        "scss/vendor/foundation/forms/_label.scss",
        "scss/vendor/foundation/forms/_help-text.scss",
        "scss/vendor/foundation/forms/_input-group.scss",
        "scss/vendor/foundation/forms/_fieldset.scss",
        "scss/vendor/foundation/forms/_select.scss",
        "scss/vendor/foundation/forms/_range.scss",
        "scss/vendor/foundation/forms/_progress.scss",
        "scss/vendor/foundation/forms/_meter.scss",
        "scss/vendor/foundation/forms/_error.scss"
      ]
    },
    {
      "path": "scss/vendor/foundation/grid/_grid.scss",
      "imports": [
        "scss/vendor/foundation/grid/_row.scss",
        "scss/vendor/foundation/grid/_column.scss",
        "scss/vendor/foundation/grid/_size.scss",
        "scss/vendor/foundation/grid/_position.scss",
        "scss/vendor/foundation/grid/_gutter.scss",
        "scss/vendor/foundation/grid/_classes.scss",
        "scss/vendor/foundation/grid/_layout.scss",
        "scss/vendor/foundation/grid/_flex-grid.scss"
      ]
    },
    {
      "path": "scss/vendor/foundation/typography/_typography.scss",
      "imports": [
        "scss/vendor/foundation/typography/_base.scss",
        "scss/vendor/foundation/typography/_helpers.scss",
        "scss/vendor/foundation/typography/_alignment.scss",
        "scss/vendor/foundation/typography/_print.scss"
      ]
    },
    {
      "path": "scss/vendor/foundation/util/_util.scss",
      "imports": [
        "scss/vendor/foundation/util/_unit.scss",
        "scss/vendor/foundation/util/_value.scss",
        "scss/vendor/foundation/util/_color.scss",
        "scss/vendor/foundation/util/_selector.scss",
        "scss/vendor/foundation/util/_flex.scss",
        "scss/vendor/foundation/util/_breakpoint.scss",
        "scss/vendor/foundation/util/_mixins.scss"
      ]
    },
    {
      "path": "includes/assets/fonts/font-awesome/less/font-awesome.less",
      "imports": [
        "includes/assets/fonts/font-awesome/less/variables.less",
        "includes/assets/fonts/font-awesome/less/mixins.less",
        "includes/assets/fonts/font-awesome/less/path.less",
        "includes/assets/fonts/font-awesome/less/core.less",
        "includes/assets/fonts/font-awesome/less/larger.less",
        "includes/assets/fonts/font-awesome/less/fixed-width.less",
        "includes/assets/fonts/font-awesome/less/list.less",
        "includes/assets/fonts/font-awesome/less/bordered-pulled.less",
        "includes/assets/fonts/font-awesome/less/animated.less",
        "includes/assets/fonts/font-awesome/less/rotated-flipped.less",
        "includes/assets/fonts/font-awesome/less/stacked.less",
        "includes/assets/fonts/font-awesome/less/icons.less",
        "includes/assets/fonts/font-awesome/less/screen-reader.less"
      ]
    },
    {
      "path": "includes/assets/fonts/font-awesome/scss/font-awesome.scss",
      "imports": [
        "includes/assets/fonts/font-awesome/scss/_variables.scss",
        "includes/assets/fonts/font-awesome/scss/_mixins.scss",
        "includes/assets/fonts/font-awesome/scss/_path.scss",
        "includes/assets/fonts/font-awesome/scss/_core.scss",
        "includes/assets/fonts/font-awesome/scss/_larger.scss",
        "includes/assets/fonts/font-awesome/scss/_fixed-width.scss",
        "includes/assets/fonts/font-awesome/scss/_list.scss",
        "includes/assets/fonts/font-awesome/scss/_bordered-pulled.scss",
        "includes/assets/fonts/font-awesome/scss/_animated.scss",
        "includes/assets/fonts/font-awesome/scss/_rotated-flipped.scss",
        "includes/assets/fonts/font-awesome/scss/_stacked.scss",
        "includes/assets/fonts/font-awesome/scss/_icons.scss",
        "includes/assets/fonts/font-awesome/scss/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://savatheme.local/"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}