@font-face {
	font-family: 'embed-jaden';
	src: url('jaden/fonts/Jaden.eot');
	src: local('☺'), url('jaden/fonts/Jaden.woff') format('woff'), url('jaden/fonts/Jaden.ttf') format('truetype'), url('jaden/fonts/Jaden.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

