.header-search
{
	height: 100%; 
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 0 rem-calc(20); 
    opacity: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
  	@include transition(all, .5s);

         
    &.active
    {
    	opacity: 1;
	    visibility: visible;
	    transform: translateZ(0);
	    @include transition(all, .5s);
	    
	    .icon-close
	    {
    		position: absolute;
			top: 50%;
			right: 0;
			margin-top: -8px;  
			display: inline-block;
			width: rem-calc(16);
			height: rem-calc(16);
			overflow: hidden;
	    }
    }
    
    form
    {
    	position: relative;
    	height: 100%;
    	
    	input
    	{
		    
		    height: 100%; 
		    margin: 0 auto;
		    font-size: rem-calc(14);
		    border: 0;
		    background-color: transparent;
		    color: #373737;
		    outline: none;
		    box-shadow: none; 
		    padding-left: 0;
		    font-weight: bold;
		    
		    @include placeholder()
		    {
		    	opacity: 1; 
		    }
		    
		    
		    &:focus
		    {
		    	outline: none; 
		    	box-shadow: none; 
		    	border: none; 
		    }
    	}
    }

}