/**********************************************************************************/
/* Navigation / Large Screens *****************************************************/
/**********************************************************************************/

.main-navigation 
{

    text-align: left;
	width: 100%;

	// Level 1

	> ul 
	{
		
		padding: 0;
		margin: 0;
		list-style: none;

		&:after 
		{
			content: "";
			clear: both;
			display: block;
		}

		> li
		{

			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			
			> a
			{
				position: relative;
				
				&:after
				{
					content: "";
					display: block;
					height: rem-calc(1.5);
					width: 0%;
					background: $grey; 
					position: absolute;
					top: 60%; 
					@include transition(width, .25s, ease-in);
					 
				}

				&:hover
				{
					&:after
					{
						width: 100%; 
					}
				}
			}

			a 
			{
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;		
				min-height: 100%;
				color: #FFF; 

			}

			&.call-to-action > a 
			{
				border-width: 1px;
				border-style: solid;		
				border-radius: 0.3125em;
			}

			&.menu-item-has-children 
			{
					
			}

			&.menu-item-btn
			{
				margin-left: rem-calc(20px); 
				
				a
				{
					background: red; 
					color: $white; 
					padding: rem-calc(5px) rem-calc(20); 
					border-radius: 50px; 
					
					&:after
					{
						display: none;
					}
					
					&:hover
					{
						color: $white; 
						opacity: 1; 
						background: $grey; 
					}
				} 
			}

			&:not(.megamenu-item) 
			{

				position: relative;
				
				// Level 2
				
				> ul:after 
				{
					bottom: 100%;
					left: 20px;
					border: solid transparent;
					content: "";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(27, 27, 29, 0);
					border-bottom-color: #1b1b1d;
					border-width: 3px;
				}

				ul 
				{
					margin: 0;
					list-style: none;				
					display: none;					
					position: absolute;
					top: 100%;
					left: 10px;
					width: rem-calc(200);
					z-index: 99999;
					animation-duration: .3s;
					animation-name: menu_animation;
					background: $black;
					padding: rem-calc(20); 

					li 
					{
						display: block;
						position: relative;
						text-align: left;
						z-index: 99999;
						padding: rem-calc(5) 0; 
						
						
						&:first-child
						{
							padding-top: 0;
						}

						&:last-child
						{
							padding-bottom: 0;
						}

						&.menu-item-has-children 
						{
							
							> a:after 
							{
								font-family: 'FontAwesome';
								font-style: normal;
								font-weight: normal;
								text-decoration: inherit;
								content: "\f067";
								position: absolute;
								right: 0;
								font-size: 8px; 
							}
						}

						a 
						{
							margin: 0;
							width: 100%;
							text-transform: none;
							font-weight: normal;
							@include transition(padding, .15, ease-in);
							
							&:hover
							{
								padding-left: 10px; 
							}
						}


						// Level 3
						
						ul
						{
							left: 100%;
							top: -20px;  
							
							&.submenu
							{
								
								li
								{
									.submenu
									{
										li
										{
											.submenu
											{
												top: 100%; 
												left: -100%; 
											}
										}
									}
								}
								
							}
						}

						&:hover 
						{
							@include transition(all, 0.75s, ease-out);

							> ul 
							{
								display: block;
							}
						}

					}
				}

			}

			// Mega Menu

			&.megamenu-item 
			{

				// Level 2
				
				ul
				{
					li
					{
						a
						{
							@include transition(padding, .15, ease-in);
							
							&:hover
							{
								padding-left: 10px; 
							}
						}
					}
				}

				> ul {
					
					width: 100%;
					margin: 0;
					list-style: none;		
					display: none;
					position: absolute;
					left: 0;
					z-index: 999;
					box-shadow: 0 0 0.3125em rgba(0,0,0,0.20);	
					animation-duration: .3s;
					animation-name: menu_animation;
					padding: rem-calc(20); 
					min-height: 300px;
					background: $black;
					color: $white; 

					> li 
					{
						
						display: inline-block;
						text-align: left;
						vertical-align: top;

						@for $i from 1 through 8 {
							&:first-child:nth-last-child(#{$i}),
							&:first-child:nth-last-child(#{$i}) ~ li
							{
								width: 100% / $i
							}
						}

						> a 
						{
							text-transform: uppercase;
							margin-bottom: rem-calc(10); 
						}

						
						// Level 3

						> ul 
						{
							margin: 0;
							list-style: none;					    
						    display: block;
							font-weight: normal;
							margin: 0;
				            width: 100%;
				            
				            > li
				            {
				            	padding: 0;
				            	display: block;
				            	
				            	&:first-child
			            		{
			            			a
			            			{
			            				padding-top: 0;
			            			}
			            		}  
			            		
			            		&:last-child
			            		{
			            			a
			            			{
			            				padding-bottom: 0;
			            			}
			            		}
				            	
				            	a
				            	{
				            		text-transform: capitalize;
				            		padding: rem-calc(5) 0;
				            	}
				            }
				            
						}

						&.menu-item-has-children a:after,
						&.page_item_has_children a:after
						{
							display: none;
						}
					}

					&.with_bg_image 
					{
						padding: 1.563em 9.375em 0 0;
						background-position: top right;
						background-repeat: no-repeat;
						background-size: contain;
					}

				}

			}

			&:hover 
			{
						
				// transition: all 0.3s ease-out;

				> ul 
				{
					display: block;
				}
			}	
			
		}

	}

	// Align Left

	&.align_left 
	{
		text-align: left;
	}	
	
	// Align Center

	&.align_center 
	{
		text-align: center;
	}
	
	// Align Right

	&.align_right 
	{
		text-align: right;

		> ul
		{
			> li:not(.megamenu-item) 
			{
				&:nth-last-child(1),
				&:nth-last-child(2)
				{
					ul
					{
						ul
						{
							
							left: -125%;
							top: 0;
						}
					}
				}
			}
		}
		
	}

}

			
